SFONB_Survey_template.json
{
  "name": "SFONB_Survey_2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sf-onboarding-survey",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        112
      ],
      "id": "cc34faa2-f1f1-49be-abfd-beef0cd8df9b",
      "name": "Webhook",
      "webhookId": "<GENERATED_ON_IMPORT>"
    },
    {
      "parameters": {
        "fromEmail": "<YOUR_SENDER_EMAIL>",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "html": "=<div style=\"background-color:#f4f6f8;padding:30px 0;font-family:Arial,Helvetica,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;padding:30px;\">\n          \n          <!-- Header -->\n          <tr>\n            <td style=\"font-size:20px;font-weight:bold;color:#333333;padding-bottom:20px;\">\n              We’d love your feedback 💬\n            </td>\n          </tr>\n\n          <!-- Body -->\n          <tr>\n            <td style=\"font-size:14px;color:#444444;line-height:1.6;padding-bottom:20px;\">\n              Hi <strong>{{ $json.firstName }}</strong>,<br><br>\n\n              Thank you for your application. We truly appreciate the time and effort you put into it.<br><br>\n\n              To help us improve our recruitment experience, we’d love to hear your feedback by completing a short survey.\n            </td>\n          </tr>\n\n          <!-- CTA Button -->\n          <tr>\n            <td align=\"center\" style=\"padding:20px 0;\">\n              <a href=\"{{ $json.SurveyLink }}\"\n                 style=\"background-color:#2563eb;color:#ffffff;\n                        text-decoration:none;padding:12px 24px;\n                        border-radius:6px;font-size:14px;\n                        display:inline-block;\">\n                Take the Survey\n              </a>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"font-size:12px;color:#777777;line-height:1.6;padding-top:20px;border-top:1px solid #eeeeee;\">\n              Best regards,<br>\n              <strong>HR Team</strong><br><br>\n\n              <span style=\"color:#aaaaaa;\">\n                This email was sent automatically. Please do not reply.\n              </span>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        112
      ],
      "id": "0f7f6503-1c37-4a02-96f9-ebac85a8bf4d",
      "name": "Send email",
      "webhookId": "dc3ecd9c-6c78-4faf-b844-71922949977c"
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "=🎉 Onboarding Update\n\nCandidate: {{ $json.firstName }} {{ $json.lastName }}\nEmail: {{ $json.email }}\n\nStatus: Onboarding signature step completed. Record is now waiting in Manage Pending Hire (MPH) for HR action.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        304
      ],
      "id": "c23f484b-7ff8-4f23-ac2f-384fe708603f",
      "name": "Notify Telegram",
      "webhookId": "07b31b32-c147-4260-8f89-a258d2cf6dda"
    },
    {
      "parameters": {
        "content": "## SAP SuccessFactors → Onboarding Survey + Telegram Alert\nTriggered by SF Integration Center when a candidate completes their onboarding document signature. Sends the candidate a pre-filled Google Form survey email and alerts your HR Telegram group that the record is waiting in Manage Pending Hire.\n\n**Requirements:** SuccessFactors with Integration Center · SMTP or Gmail credential · Telegram bot (via @BotFather) · a Google Form",
        "height": 192,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -128
      ],
      "id": "863fbc2d-01bb-4ef6-8bce-90b5f9dc92ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst email = body.Email;\nconst firstName = body.FirstName;\nconst lastName = body.LastName;\n\nreturn [\n  {\n    json: {\n      email,\n      firstName,\n      lastName,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        112
      ],
      "id": "b7b842e2-1b19-4399-aec8-ea9ac05e0b11",
      "name": "Extract Candidate Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efcd7690-d4b6-4744-b6e6-6b92b7dbfe4d",
              "name": "SurveyLink",
              "value": "=https://docs.google.com/forms/d/e/<YOUR_GOOGLE_FORM_ID>/viewform?usp=pp_url&entry.<GOOGLE_FORM_EMAIL_ENTRY_ID>={{ encodeURIComponent($json.email) }}",
              "type": "string"
            },
            {
              "id": "d76ca3e4-4c8d-4f45-abc8-34e9120edd2c",
              "name": "subject",
              "value": "We’d love your feedback",
              "type": "string"
            },
            {
              "id": "5ab38b75-40ca-4721-8c0b-34689cbbf995",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "6c3d8b12-1e2f-4a9c-9d7e-8f4b2a6c5e11",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "7d4e9c23-2f3a-4b0d-8e8f-9a5c3b7d6f22",
              "name": "lastName",
              "value": "={{ $json.lastName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        112
      ],
      "id": "5ded8489-5902-4007-bf88-f970c7b78c7b",
      "name": "Build Survey Link"
    },
    {
      "parameters": {
        "content": "## Setup\n1. Attach a Basic Auth credential to the Webhook node\n2. In \"Build Survey Link\", replace <YOUR_GOOGLE_FORM_ID> and <GOOGLE_FORM_EMAIL_ENTRY_ID> (use your form's \"Get pre-filled link\")\n3. Add your SMTP credential + sender email on the email node\n4. Add your Telegram bot credential + chat ID\n5. In SF Integration Center, create an outbound integration to the production webhook URL, mapping fields: Email, FirstName, LastName",
        "height": 304,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        208
      ],
      "id": "89fc9c78-7726-4129-94e4-eb37b9bbd42d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Candidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Candidate Data": {
      "main": [
        [
          {
            "node": "Build Survey Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Survey Link": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1530018-8e3c-48f2-96ae-c36fba557798",
  "meta": {
    "instanceId": "dab965710431f7f6000a4c09441fa7395c3f8fce3dd9b2a262b8fcfb31dfa24c"
  },
  "id": "iKZdR22EL37WbDkS",
  "tags": []
}